* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Underdog', cursive
}

.marker-text {
	font-family: 'Permanent Marker', cursive;
}

.indie-text{
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}

.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*navbar*/
nav {
	padding: 22.5px 0px;
	background-color: #383838;
	opacity: 0.8;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
}

.navbar-links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.responsive-icon {
	visibility: hidden;
	font-size: 20px;
}

.navbar-links a{
	margin: 0px 10px;
	padding: 23px 10px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.navbar-links a:hover{
	color: #757575;
	text-decoration: none;
}

/*about-us*/
.about-us{
	background: url(../images/about-us.jpeg);
	background-size: cover;
	height: 100vh;
	color: white;
}

.about-us-text {
	background-color: rgba(0,0,0,0.5);
	margin-top: 50px;
	padding: 20px;
	margin-bottom: 7.5px;
	height: 200px;
	width: 95%;
	border: 2px solid #855E42;
	text-align: center;
}

.about-us h1{
	font-size: 50px;
}

.about-us p{
	margin: 3px;
}

.about-us-card {
	margin: 0px 10px;
	background: url(../images/wood.jpg);
	background-size: cover;
	height: 310px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid #855E42;
	color: white;
	font-weight: bold;
}

.bootstrap-carousel {
	margin: 10px;
}

.carousel-container {
	width: 200px;
}

.carousel-caption {
	position: relative;
	bottom: 50px;
}

.carousel-inner{
	border-radius: 10px
}


.about-us-card img{
	filter: grayscale(25%);
}

/*footer*/
footer{
	background-color: #383838;
	opacity: 0.8;
	height: 25px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	color: white;
	text-align: center;
}

/*responsive - tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){

	.about-us-text {
		position: relative;
		margin-top: 0px;
		height: 300px;
	}

	.about-us-card {
		margin: 0px;
	}

}

/*responsive - mobile*/
@media only screen and (max-width: 400px){

	/*navbar*/
	nav{
		position: fixed;
		top: initial;
		bottom: 0px;
		padding: 22.5px;
		background-color: rgba(56,56,56,0.95);
		opacity: 1;
		z-index: 100;
	}

	.navbar-links {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: initial;
	}

	.navbar-links li{
		position: relative;
		bottom: 10px;
		margin: 0px 10px;
		height: 50px;
		width: 50px;
		background-color: rgba(211,211,211,0.5);
		border-radius: 50%;
	}

	.navbar-links a{
		margin: 0px 0px;
		padding: 0px 0px;
		color: white;
		font-size: 20px;
		text-decoration: none;
	}

	.responsive-icon {
		visibility: visible;
		font-size: 20px;
	}

	.responsive-hidden {
		visibility: hidden;
	}

	.fa-home {
		position: relative;
		top: 10px;
	}

	.fa-users {
		position: relative;
		top: 11px;
	}

	.fa-image {
		position: relative;
		top: 11px;
	}

	.fa-seedling {
		position: relative;
		top: 11px;
	}

	.fa-phone {
		position: relative;
		top: 11px;
	}

	/*about-us-content*/
	.container-centered{
	    flex-direction: column;
	}

	.about-us{
		padding: 15px 0px 100px;
		height: 260vh;
	}

	.about-us-text {
		height: 600px;
	}

	.about-us-card {
		margin: 10px;
	}

	/*footer*/
	footer {
		opacity: 0;
	}

	footer p {
		margin: 0px;
	}

}