* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Underdog', cursive
}

.marker-text {
	font-family: 'Permanent Marker', cursive;
}

.indie-text{
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}

.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*navbar*/
nav {
	padding: 22.5px 0px;
	background-color: #383838;
	opacity: 0.8;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
}

.navbar-links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.responsive-icon {
	visibility: hidden;
	font-size: 20px;
}

.navbar-links a{
	margin: 0px 10px;
	padding: 23px 10px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.navbar-links a:hover{
	color: #757575;
	text-decoration: none;
}

/*contact-page*/
.contact-page {
	background: url(../images/contact-page.jpeg);
	background-size: cover;
	height: 100vh;
	color: white;
}

.contact-page h1 {
	margin-top: 30px;
	font-size: 50px;
}

.contact-page h2 {
	font-size: 20px;
}

.contact-info {
	margin-top: 20px;
	display: flex;
}

.contact-info div{
	margin: 0px 10px;
}

.contact-info label {
	margin: 5px;
	font-weight: bold;
}

.contact-info input {
	padding: 5px 40px;
	text-align: center;
	/*border-radius: 10px;*/
}

.form-input:hover, .form-input:focus{
	outline: 0;
}

.contact-info h4{
	margin-top: 5px;
	font-weight: bold;
	font-size: 15px;
}

.contact-info select {
	padding: 5px 80px;
}

.contact-info textarea{
	height: 200px;
	width: 500px;
	padding: 5px;
}

.contact-btn {
	margin-top: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 25px;
    border: 0px solid #556301;
    border-radius: 10px;
    background: #a0ba02;
    background: linear-gradient(to bottom, #a0ba02, #556301);
    text-shadow: #323a01 1px 1px 1px;
    font: normal normal normal 20px;
    color: #ffffff;
    text-decoration: none;
}

.contact-btn:hover, .contact-btn:focus {
    border: 0px solid ##647401;
    background: #c0df02;
    background: linear-gradient(to bottom, #c0df02, #667701);
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
.contact-btn:active {
    background: #556301;
    background: linear-gradient(to bottom, #556301, #556301);
}

.contact-info iframe {
	width: 300px;
	height: 300px;
}

.contact-details {
	margin-top: 10px;
	background: rgba(0,0,0,0.8);
	height: 125px;
	width: 100%;
}

.contact-phone, .contact-address {
	margin: 10px 20px;
}

/*footer*/
footer{
	background-color: #383838;
	opacity: 0.8;
	height: 25px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	color: white;
	text-align: center;
}

/*responsive - tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
	.contact-page {
		height: 140vh;
	}

	.container-centered{
		flex-direction: column;
	}

	.contact-details {
		height: auto;
	}

	#google-map {
		margin-top: 10px;
	}

}

/*responsive - mobile*/
@media only screen and (max-width: 360px){

	/*navbar*/
	nav{
		position: fixed;
		top: initial;
		bottom: 0px;
		padding: 22.5px;
		background-color: rgba(56,56,56,0.95);
		opacity: 1;
		z-index: 100;
	}

	.navbar-links {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: initial;
	}

	.navbar-links li{
		position: relative;
		bottom: 10px;
		margin: 0px 10px;
		height: 50px;
		width: 50px;
		background-color: rgba(211,211,211,0.5);
		border-radius: 50%;
	}

	.navbar-links a{
		margin: 0px 0px;
		padding: 0px 0px;
		color: white;
		font-size: 20px;
		text-decoration: none;
	}

	.responsive-icon {
		visibility: visible;
		font-size: 20px;
	}

	.responsive-hidden {
		visibility: hidden;
	}

	.fa-home {
		position: relative;
		top: 10px;
	}

	.fa-users {
		position: relative;
		top: 11px;
	}

	.fa-image {
		position: relative;
		top: 11px;
	}

	.fa-seedling {
		position: relative;
		top: 11px;
	}

	.fa-phone {
		position: relative;
		top: 11px;
	}

	/*contact*/
	.contact-page {
		height: 220vh;
	}

	.container-centered{
		flex-direction: column;
	}

	.contact-page h1{
		margin-top: 0px;
	}

	#contact-text-area {
		width: 340px;
	}

	#google-map {
		margin-top: 10px;
	}

	.contact-details {
		height: auto;
	}

	/*footer*/
	footer {
		opacity: 0;
	}

	footer p {
		margin: 0px;
	}

}