* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Underdog', cursive
}

.marker-text {
	font-family: 'Permanent Marker', cursive;
}

.indie-text{
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}

.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*navbar*/
nav {
	padding: 22.5px 0px;
	background-color: #383838;
	opacity: 0.8;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
}

.navbar-links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.responsive-icon {
	visibility: hidden;
	font-size: 20px;
}

.navbar-links a{
	margin: 0px 10px;
	padding: 23px 10px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.navbar-links a:hover{
	color: #757575;
	text-decoration: none;
}

/*products*/
.products{
	background: url(../images/products.jpeg);
	background-size: cover;
	height: 190vh;
	color: white;
}

.products h1{
	margin-top: 50px;
	font-size: 50px;
}

.product-links {
	height: 200px;
}

.product-thumbnails {
	margin: 0px 10px;
	height: 200px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.product-thumbnails img {
	margin-top: 10px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.product-thumbnails img:hover {
	transition: 0.5s;
	transform: scale(1.5);
}

.product-thumbnails h2{
	margin-top: 25px;
	font-size: 25px;
}

.products-preview {
	background-color: rgba(0,0,0,0.7);
	padding: 5px;
	border: 2px solid #855E42;
	margin: 20px;
	width: 1000px;
	display: flex;
}

.products-preview img{
	margin: 6px;
	margin-right: 25px;
	height: 225px;
	width: 225px;
	border: 2px solid #855E42;
}

/*footer*/
footer{
	background-color: #383838;
	opacity: 0.8;
	height: 25px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	color: white;
	text-align: center;
}

/*responsive - tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){

	nav {
		z-index: 50;
	}

	.products {
		height: 160vh;
	}

	.products h1{
		margin-top: 90px;
	}

	.products-preview{
		width: 700px;
	}

	.products-preview img {
		position: relative;
		top: 20px;
		left: 7.5px;
	}

/*	#snake-grass-info {
		position: relative;
		bottom: 20px;
	}*/

}

/*responsive - mobile*/
@media only screen and (max-width: 360px){

	/*navbar*/
	nav{
		position: fixed;
		top: initial;
		bottom: 0px;
		padding: 22.5px;
		background-color: rgba(56,56,56,0.95);
		opacity: 1;
		z-index: 100;
	}

	.navbar-links {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: initial;
	}

	.navbar-links li{
		position: relative;
		bottom: 10px;
		margin: 0px 10px;
		height: 50px;
		width: 50px;
		background-color: rgba(211,211,211,0.5);
		border-radius: 50%;
	}

	.navbar-links a{
		margin: 0px 0px;
		padding: 0px 0px;
		color: white;
		font-size: 20px;
		text-decoration: none;
	}

	.responsive-icon {
		visibility: visible;
		font-size: 20px;
	}

	.responsive-hidden {
		visibility: hidden;
	}

	.fa-home {
		position: relative;
		top: 10px;
	}

	.fa-users {
		position: relative;
		top: 11px;
	}

	.fa-image {
		position: relative;
		top: 11px;
	}

	.fa-seedling {
		position: relative;
		top: 11px;
	}

	.fa-phone {
		position: relative;
		top: 11px;
	}

	/*products*/
	.products {
		height: 450vh;
		background-size: initial;
		background-repeat: repeat;
	}

	.products h1{
		margin-top: 0px;
		margin-bottom: 100px;
	}

	.product-links {
		margin: 20px;
		flex-direction: column;
	}

	.product-thumbnails h2 {
		margin: 0px;
	}

	#first-preview {
		margin-top: 100px;
	}

	.products-preview {
		margin-top: 0px;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 80%;
		text-align: center;
	}

	.products-preview p{
		text-align: left;
	}

	/*footer*/
	footer {
		opacity: 0;
	}

	footer p {
		margin: 0px;
	}

}